body{
background-color: rgb(30, 30, 30);
width: auto;
height: auto;
}

.container {
  margin: 20px;
}
header {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
img {
  width: 48px;
  object-fit: contain;
}
.title_js{
  margin: 0%;
  color: gold;
}
.sub_js {
  margin: 0%;
  color: #dbd7b1;
}



/********** tab **********/


.tab-menu li {
  padding: 10px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  list-style: none;
  color: aliceblue;
  background-color: rgb(60, 62, 64);
}
.tab-content {
  width: 560px;
  height: 240px;
  margin: 0 10px 10px 10px;
  padding: 20px;
  border-radius: 0  0 5px 5px;
  background-color: #2d3942;
}
section{
  color: aliceblue;
}

.active {
  display: flex !important;
}

.tab-menu {
  display: flex;
  padding-left: 10px;
  margin: 0;
}

.tab-menu li {
  margin-right: 2rem;
  cursor: pointer;
}

.tab-menu li.active {
  background-color: #f3e248;
  color: #273133;
}

.tab-content section {
  display: none;
}
