body {
    background-color: #a3a3a3;
}
.container{
    width: 960px;
    height: 520px;
    margin: auto;
    position: relative;
}
.blue_box{
    width: 960px;
    height: 520px;
    border-radius: 10px;
    background-color: rgb(180, 209, 218);

    /* 정가운데 정렬 */
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
}
.dashed_box{
    width: 920px;
    height: 490px;
    border-radius: 10px;
    border-style: dashed;
    border-color: aliceblue;

    /* 정가운데 정렬 */
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
.main_box{
    width: 900px;
    height: 470px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    overflow: hidden;

    /* 정가운데 정렬 */
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);

}

/************좌측************/
.left_zone {
    width: 290px;
    height: 470px;
    margin: auto;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /* background-color: rgb(126, 174, 153); */
}
.left_main_box{
    width: 270px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(172, 172, 172);
    background-color: white;

    /*하단정렬*/
    /* position: absolute;
    bottom: 2%; left: 5%; */
}
.srh_box{
    width: 290px;
    height: 50px;
    margin: auto;
    display: inline-block;
    position: relative;
}

.left_contents_box{
    width: 250px;
    height: 390px;
    margin: auto;
    padding: 15px;
    position: relative;
}

/*****좌측 요소들*****/

hr{
    width: 90%;
    margin-left: 0%;
}

.blue_title {
    color: #66acfd;
    font-size: 20px;
    font-weight: 600;
    line-height: 0;
}


/************우측************/
.right_zone {
    width: 590px;
    height: 470px;
    margin: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /* background-color: rgb(126, 174, 153); */
}
.title_box{
    width: 590px;
    height: 50px;
    margin: 0;
    display: inline-block;
    position: relative;
}
.home_title{
    font-size: 24px;

    /*하단정렬*/
    position: absolute;
    bottom: 0%; left: 0%;
}
.home_address{
    /*하단정렬*/
    position: absolute;
    bottom: 0%; right: 5%;

}
.right_main_box{
    width: 570px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(172, 172, 172);
    background-color: white;

    /*하단정렬*/
    /* position: absolute;
    bottom: 2%; right: 2%; */
}
.right_contents_box{
    width: 550px;
    height: 390px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}
/*****우측 요소들*****/
.setting_box{
    width: 100%;
    height: 30px;
    padding: 10px;
}

.setting_name{
    width: 90px;
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}

input[type=text] {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border-color: #a3a3a3;
    margin: 5px;
}