body{
    background-color: #a3a3a3;
    background-size: 100px;
}
.cover{
    background-color: rgb(180, 209, 218);
    border-radius: 9px;
    width: 960px;
    height: 660px;
    margin: 100px auto;
    position: relative;
}
.coverdot{
    border: 3px dashed white;
    border-radius: 9px;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    position: absolute;
}
.page{
    width: 900px;
    height: 600px;
    background-color: rgb(238, 238, 238);
    margin: 10px;
    border-radius: 9px;
    position: absolute;
}

/* 다이어리 왼쪽 영역 */
.left-box {
    position: absolute;
    width: 250px;
    height: 520px;
    top: 50px;
    border-radius: 9px;
    margin-left: 20px;
    left: 0;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
}

.left-box > h1 {
    margin: 10px 0;
    padding-left: 25px;
    color: rgb(18, 99, 131);
    margin: 20px 0 12.5px 0;
}

.left-box > h1:after {
    content: "";
    display: block;
    width: 200px;
    border-bottom: 2px solid #bcbcbc;
}

.left-box > p {
    margin: 0;
    padding-left: 45px;
    font-weight: 800;
}

/* 다이어리 오른쪽 하단 영역 */
.right-box {
    position: absolute;
    width: 570px;
    height: 520px;
    top: 50px;
    border-radius: 9px;
    margin-right: 40px;
    right: 0;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
}

#content {
    width: 550px;
    height: 475px;
    margin: 30px auto 0 auto;
    overflow-y: scroll; /* 스크롤 기능*/
}

form {
    margin: 20px 0; /*40px*/
    padding: 0 25px;
}

/* 말풍선 안의 숫자에 대한 스타일 */
label {
    display: inline-block;
    line-height: 40px;
    margin-top: -10px;
    margin-right: 7.5px;
    color: rgb(73, 142, 175);
    font-size: 20px;
    font-weight: bold;
}

/* 말풍선에 관한 스타일 */
.speech-bubble {
    width : 70px;
    position: relative;
    background: rgb(183, 221, 224);
    border-radius: 9px;
    text-align: center;
}

/* 말풍선에 관한 스타일 */
.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: rgb(183, 221, 224);
    border-bottom: 0;
    margin-left: -14.5px;
    margin-bottom: -13px;
}

#questions > input:nth-child(9n + 0) {
    margin-bottom: 150px;
}

/* 사용자로부터 입력받는 창에 대한 스타일 */
#questions > input {
    display: block;
    width: 470px; /*800*/
    height: 50px; /*45*/
    margin-top: 17.5px;
    margin-bottom: 25px;
    border: 1px dashed black;
    border-radius: 4px;
    background-color: rgba(203, 232, 245, 0.363);
}

/* input 박스 클릭 시 생기는 테두리 없애기 */
input:focus {
    outline: none;
}

/* 질문지 글자에 대한 스타일 */
strong {
    color: rgb(73, 142, 175);
    font-size: large;
}

/* 수정 버튼에 대한 스타일 */
#mod_btn {
    position: absolute;
    right: 50px;
    top: 450px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 13px;
}

.container{
    width: 800px;
    height: 50px;
    margin-left: 300px;
    display: flex;
    position: absolute;
    top: 20px;
}

.title{
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}

.url{
    flex: 1.1;
    font-size: 13px;
    margin: 8px;
}

/*카테고리*/
.menu_box {
    position: absolute;
    right: -34px;
    top: 70px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.menu_button{
    width: 56px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(132, 192, 233);
    color: white;
    padding: 9px;
    border-radius: 5px 7px 7px 5px;
    font-weight: bold;
    margin-bottom: 7px;
    cursor: pointer; /* 커서를 포인터로 변경 */
}

.menu_button.active {
    background-color: white;
    color: black;
}

/* 스크롤 바 스타일링 하겠다는 기본 속성*/
::-webkit-scrollbar {
    width: 25px;  /* 세로축 스크롤바 폭 너비 */
    height: 20px;  /* 가로축 스크롤바 폭 너비 */
}

div#content::-webkit-scrollbar {
    background: rgb(235, 235, 236);
}

div#content::-webkit-scrollbar-thumb {
    background: #c7c6c6;
}

div#content::-webkit-scrollbar-button:end:increment {
    color:#363535;
    display: block;
    height: 25px;
    background: rgb(235, 235, 236); /* 아래 화살표 이미지 넣어야 함 */
}

div#content::-webkit-scrollbar-button:start:decrement {
    color:#363535;
    display: block;
    height: 25px;
    background: rgb(235, 235, 236); /* 위 화살표 이미지 넣어야 함 */
}