body {
    margin: 2vh;
    background-color: #a3a3a3;
}

#background {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 가로 중앙 정렬 */
    background-color: rgb(180, 209, 218);
}

#outer {
    margin: 8px -5px;
    border-width: 5px;
    border-style: dashed;
    border-color: white;
    border-radius: 8px;
    padding: 15px;
    display: flex;
}

#menu_btn {
    width: 4vw; /*60px*/
    display: block;
    padding: 0;
    margin-left: -2.9vw; /**/
    margin-bottom: 1px;
    border: 0;
}

#diary {
    width: 95vw;
    height: 90vh; /* 상하 여백을 두기 위해 조정 */
    background-color: rgb(238, 238, 238);
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

#lTop {
    width: 20vw;
    margin-right: 20px;
}

#rTop {
    width: 75%;
}

#rTop > p {
    display: inline;
}

/* 사용자 다이어리 이름 글꼴 꾸미기 및 위치 배치 */
#rTop > p:first-child {
    float: left;
    font-size: xx-large;
    font-weight: bold;
    margin: 0.8vh 0 0 0;
}

/* 사용자 다이어리 주소 글꼴 꾸미기 및 위치 배치 */
#rTop > p:last-child {
    float: right;
    font-size: small;
    margin: 4vh 0 0 0;
}

#introduce {
    width: 20vw;
    height: 90%;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}

#introduce > h1 {
    margin: 10px 0;
    padding-left: 25px;
    color: rgb(18, 99, 131);
}

#introduce > h1:after {
    content: "";
    display: block;
    width: 15vw;
    border-bottom: 2px solid #bcbcbc;
    margin: 8px 0;
}

#introduce > p {
    margin: 0;
    padding-left: 50px;
    font-weight: 800;
}

#profile {
    width: 75%;
    height: 90%;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 20px;
}

/* 선 긋기 */
#profile > h1:after {
    content: "";
    display: block;
    width: 53vw;
    border-bottom: 2px solid #bcbcbc;
    margin: 0 auto;
    padding-left: 20px;
}

#title {
    width: 51.5vw;
    margin:0 auto;
    border-radius: 8px;
    background-color: rgb(204, 232, 235);
}

/* My Profile 글자 중앙 정렬 */
#title > h1 {
    text-align: center;
    margin-top: 15vh;
    padding: 5px 0;
    color: rgb(69, 166, 177);
}

/* 정보 입력하는 부분 중앙 정렬 */
#info {
    width: 50vw;
    height: 48.4vh;
    margin: 0 auto;
}

/* Name, BirthDay, E-Mail, Motto 라벨 크기 동일하게 설정*/
#info label {
    display: inline-block;
    width: 8vw;
    line-height: 56px;
    text-align: center;
    font-weight: bold;
    background-color: beige;
}

#info input {
    margin-left: -6px;
    width: 42vw;
    height: 56px;
    padding: 0;
    border: 0;

}

/* input 박스 클릭 시 생기는 테두리 없애기 */
#info input:focus {
    outline: none;
}

form {
    width: 50vw;
}

#item:first-child {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 50vw;
    height: 54px;
    overflow: hidden;
}

#last {
    border-bottom: 1px solid #bcbcbc;
    width: 50vw;
    height: 54px;
    overflow: hidden;
}

#item {
    border-bottom: 1px solid black;
    width: 50vw;
    height: 54px;
    overflow: hidden;
}

/* 프로필 정보 수정 버튼 */
#mod_btn {
    margin-top: 2.2vh; /*20px*/
    position: absolute;
    right: 10vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 13px;
}

/* 카테고리에 있는 버튼 */
#home_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 12.75vh;
    color: white;
    /*
    width: 69px;
    right: 1px;
    top: 120px;
    */
}

#profile_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 15.75vh;
    color: white;
    /*
    width: 69px;
    right: 1px;
    top: 145px;
    */
}

#diary_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 18.75vh;
    color: white;
    /*
    right: 1px;
    top: 170px;
    */
}

#gallery_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 21.75vh;
    color: white;
    /*
    width: 69px;
    right: 1px;
    top: 195px;
    */
}

#adm_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 24.75vh;
    color: white;
    /*
    width: 69px;
    right: 1px;
    top: 220px;
    */
}