body {
    margin: 2vh;
    background-color: #a3a3a3;
}

#background {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 가로 중앙 정렬 */
    background-color: rgb(180, 209, 218);
}

#outer {
    margin: 8px -5px;
    border-width: 5px;
    border-style: dashed;
    border-color: white;
    border-radius: 8px;
    padding: 15px;
    display: flex;
}

/* 다이어리 영역 */
#diary {
    width: 95vw;
    height: 90vh; /* 상하 여백을 두기 위해 조정 */
    background-color: rgb(238, 238, 238);
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

/* 다이어리 왼쪽 상단 영역 */
#leftTopArea {
    width: 20vw;
    margin-right: 20px;
}

/* 다이어리 오른쪽 상단 영역 */
#rightTopArea {
    width: 75%;
}

#rightTopArea > p {
    display: inline;
}

/* 사용자 다이어리 이름 글꼴 꾸미기 및 위치 배치 */
#rightTopArea > p:first-child {
    float: left;
    font-size: xx-large;
    font-weight: bold;
    margin: 0.8vh 0 0 0;
}

/* 사용자 다이어리 주소 글꼴 꾸미기 및 위치 배치 */
#rightTopArea > p:last-child {
    float: right;
    font-size: small;
    margin: 4vh 0 0 0;
}

/* 다이어리 왼쪽 하단 영역 */
#leftArea {
    width: 20vw;
    height: 90%;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}

#leftArea > h1 {
    margin: 10px 0;
    padding-left: 25px;
    color: rgb(18, 99, 131);
}

#leftArea > h1:after {
    content: "";
    display: block;
    width: 15vw;
    border-bottom: 2px solid #bcbcbc;
    margin: 8px 0;
}

#leftArea > p {
    margin: 0;
    padding-left: 50px;
    font-weight: 800;
}

/* 다이어리 오른쪽 하단 영역 */
#rightArea {
    width: 75%;
    height: 90%;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 20px;
}

#content {
    width: 70vw;
    height: 75vh;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    overflow-y: scroll; /* 스크롤 기능*/
}

form {
    margin: 20px 130px; /*40px*/
}

/* 말풍선 안의 숫자에 대한 스타일 */
label {
    display: inline-block;
    line-height: 5.5vh;
    margin-right: 7.5px;
    font-size: 30px;
    font-weight: bold;
}

/* 말풍선에 관한 스타일 */
.speech-bubble {
    width : 5.5vw;
    position: relative;
    background: rgb(183, 221, 224);
    border-radius: .3em;
    text-align: center;
}

/* 말풍선에 관한 스타일 */
.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: rgb(183, 221, 224);
    border-bottom: 0;
    margin-left: -14.5px;
    margin-bottom: -13px;
}

/* 사용자로부터 입력받는 창에 대한 스타일 */
input {
    display: block;
    width: 52vw; /*800*/
    height: 7vh; /*45*/
    margin-top: 17.5px;
    margin-bottom: 32px;
    border: 1px dashed black;
    border-radius: 4px;
    background-color: rgba(203, 232, 245, 0.363);
}

/* input 박스 클릭 시 생기는 테두리 없애기 */
input:focus {
    outline: none;
}

/* 질문지 글자에 대한 스타일 */
strong {
    color: rgb(73, 142, 175);
    font-size: x-large;
}

/* 수정 버튼에 대한 스타일 */
#mod_btn {
    margin-top: -1vh; /*60*/
    position: absolute;
    right: 10vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;

    padding: 5px 13px;
}

/* 카테고리에 있는 버튼 */
#home_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 12.75vh;
    color: white;
}

#profile_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 15.75vh;
    color: white;
}

#diary_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 18.75vh;
    color: white;
}

#gallery_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 21.75vh;
    color: white;
}

#adm_btn {
    position: absolute;
    border-width: 0;
    background-color: rgb(132, 192, 233);
    border-radius: 5px;
    padding: 3px 0 3px 0;
    width: 3.5vw;
    right: 0.15vw;
    top: 24.75vh;
    color: white;
}

/* 스크롤 바 스타일링 하겠다는 기본 속성*/
::-webkit-scrollbar {
    width: 25px;  /* 세로축 스크롤바 폭 너비 */
    height: 20px;  /* 가로축 스크롤바 폭 너비 */
}

div#content::-webkit-scrollbar {
    background: rgb(235, 235, 236);
}

div#content::-webkit-scrollbar-thumb {
    background: #c7c6c6;
}

div#content::-webkit-scrollbar-button:end:increment {
    color:#363535;
    display: block;
    height: 25px;
    background: rgb(235, 235, 236); /* 아래 화살표 이미지 넣어야 함 */
}

div#content::-webkit-scrollbar-button:start:decrement {
    color:#363535;
    display: block;
    height: 25px;
    background: rgb(235, 235, 236); /* 위 화살표 이미지 넣어야 함 */
}